.appBody {
  padding: 40px 20px;
}

.unexpandedCard {
  padding: 40px;
  font-size: larger;
  font-weight: 900;
}

.card {
  margin: 15px;
  border: 2px solid, black;
  border-radius: 8px;
  box-shadow: 10px 5px 5px grey;
  font-weight: 900;
}